# Ignore virtual environment
venv/

# Ignore SQLite database files
*.db

# Ignore environment variables file
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore other common files and directories
*.log
*.swp
.DS_Store
